
h1{
    font-size: 25px;
    width: 640px;
    margin: auto;
    padding: 20px;
    text-align: left;
}
body {
    font-family: Arial, sans-serif;
}
   
form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}   

.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.input-wrapper label {
    width: 150px; 
    margin-left: 10px;
}

.input-wrapper input,
.input-wrapper select {
  width: calc(100% - 160px);
}

  
.input-wrapper input {
    flex: 1;
}

  
.checkbox-box input[type="checkbox"] {
    margin-right: 5px;
}
  
.checkbox-box label {
    margin-right: 5px;
    width: auto; 
}